<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Ceter</a>
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/add-user">Crear</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Usuarios</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <button class="btn btn-light" *ngIf="isAuthenticated"
          (click)="oktaAuth.logout()">Logout
      </button>
      <button class="btn btn-light" *ngIf="!isAuthenticated"
            (click)="oktaAuth.loginRedirect()">Login
      </button>
    </ul>
  
</nav>

  <div class="pag">
    <router-outlet></router-outlet>
  </div>

</div>
